---
import Layout from "../layouts/Layout.astro";
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
---

<Layout>
    <div id="status"></div>
    <div class="editor" data-note-id="note-123">
        <div class="quill"></div>
    </div>
</Layout>
<style>
    #status {
        margin-block: 1rem;
    }

    .editor {
        background: white;
        border: 1px solid gray;
    }
</style>
<script>
    import Quill from "quill";
    import QuillCursors from "quill-cursors";
    import { QuillBinding } from "y-quill";
    import * as Y from "yjs";
    import { SseProvider, UpdateStatusEvent } from "y-sse";

    Quill.register("modules/cursors", QuillCursors);

    document.querySelectorAll<HTMLElement>("div.editor").forEach(async (container) => {
        const noteId = container.dataset.noteId!;
        const ydoc = new Y.Doc();
        const ytext = ydoc.getText("text");

        const adapter = new SseProvider({
            doc: ydoc,
            pathPrefix: "/sse",
            docId: noteId,
            awareness: {
                enable: true,
                name: "user123",
                color: "orange",
            },
        });

        const status = document.querySelector<HTMLElement>("div#status")!;
        status.innerHTML = adapter.updateStatus;
        adapter.addEventListener(UpdateStatusEvent.type, (e) => {
            status.innerHTML = (e as UpdateStatusEvent).detail.status;
        });

        const quill = new Quill(container.querySelector<HTMLElement>(".quill")!, {
            modules: {
                cursors: true,
                toolbar: [
                    [{ header: [1, 2, 3, 4, 5, 6, false] }],
                    ["bold", "italic", "underline", "strike"],
                    ["blockquote", "link", "code-block"],
                    ["clean"],
                ],
                history: {
                    userOnly: true,
                },
            },
            bounds: container,
            placeholder: "Start collaborating...",
            theme: "snow",
        });
        new QuillBinding(ytext, quill, adapter.awareness);
    });
</script>
