---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="editor" data-note-id="note-123">
        <div class="quill"></div>
    </div>
</Layout>
<style>
    .editor {
        max-width: 600px;
        margin-inline: auto;
        background: white;
        border: 1px solid gray;
    }
</style>
<script></script>
